<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ pageTitle }}</title>
</head>

<body>
<header>
	<h1> {{ title }} </h1>
	<p><a href="/">Home</a></p>
	<p><a href="/about">about</a></p>
	<p><a href="/projects">Projects</a></p>

</header>
